.heading_font{
  font-family: LibreFranklin;
}

.recepie-name-link{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5%;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.recepie-name-link:hover{
  background-color: #ffbd59;
  transform: rotate(-2deg);
}

.recepie-name-link i{
  color: #ffbd59;
  margin-right: 2px;
}

.recepie-name-link:hover i{
  color: white;
}

body{
  font-family: Varela;
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
}

#main {
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#main-heading h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffbd59;
  font-size: 2rem;
  text-align: center;
  transform: rotate(-2deg); /* Rotate slightly diagonal */
  display: inline-block;
  font-weight: bold;
}

#main-heading h1 a{
  text-decoration: none;
  color: #222222;
} 

#main-heading i{
  color: white;
} 

#main-heading h1 a:hover{
  color: white;
}

@media (min-width: 768px) {
  #main-heading h1 {
      font-size: 3rem;
  }
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all .25s ease-in-out;
  background-color: #ffbd59;
  display: flex;
  flex-direction: column;
}

#sidebar-menu{
  background-color: white;
}

#menu span{
  color: #222222;
}
#menu a{
  color: #222222;
}

#offcanvasMenu{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#canvasMenu{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 100;
}

.blue-bar {
  background-color: #222222;
  color: white;
  font-size: 0.6rem;
  padding: 10px 0;
}
.blue-bar h2 {
  font-weight: bold;
}
.blue-bar span {
  font-weight: normal;
  color: #ffbd59;
}
.metrics .metric-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.metrics .metric-item i {
  margin-right: 8px;
  color: #FFC107; /* Gold Icon */
}
.metrics .metric-item .red-dot {
  color: #FF4500; /* Red dot color */
}
.metrics .metric-item .green-dot {
  color: #32CD32; /* Green dot color */
}
.metrics .metric-item .gold-dot {
  color: #FFD700; /* Gold dot color */
}

#myCarousel{
  background-color: #e0e0e05b;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#myCarousel img{
  border-radius: 15px;
}

.carousel-item {
  text-align: center;
}
.carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.carousel-caption {
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

#overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black with 60% opacity */
  z-index: 1;
  border-radius: 5px;
}

#overlay img {
  position: relative;
  z-index: 0;
  transition: transform 0.2s ease, filter 0.2s ease;
}

#overlay:hover img {
  filter: blur(2px);
}

#overlay p{
  color: #fafbfe;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for text readability */
  transition: opacity 0.5s ease;
}

#overlay:hover p {
  opacity: 1;
}

/* MOBILE VIEW*/
#movile-view-menu{
  background: rgb(255,255,255);
  background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,189,89,1) 90%); 
}


/*MY FEED PAGE*/
#feed-overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#feed-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black with 60% opacity */
  z-index: 1;
  border-radius: 5px;
}

#feed-overlay img {
  position: relative;
  z-index: 0; 
  transition: transform 0.2s ease, filter 0.2s ease;
}

#feed-overlay:hover img {
transform: scale(0.90); /* Zoom out effect */
filter: blur(4px); /* Blur effect */
}


#feed-overlay p{
  color: #fafbfe;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for text readability */
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

#feed-overlay:hover p {
  opacity: 1;
}

#feed-overlay #ilustration{
  max-height: 20vh;
  padding: 7%;
}

#newPost a{
  color: #ffbd59;
  font-weight: bold;
}

.reply-box {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.reply-box textarea {
  resize: none;
}

.carousel-control-prev, .carousel-control-next{
  margin-bottom: 5%;
}